[roster]
tsv = https://docs.google.com/spreadsheets/...&single=true&output=tsv
doc = https://docs.google.com/spreadsheets/.../edit?usp=sharing
dow = 2 ; wednesday
page = https://apps.dashplatform.com/dash/index.php?Action=team/index&company=pisa&teamid=xxx

[host]
imglink = http://www.example.com/pisa_head_count/current_roster.png

[email]
from = no-reply@example.com
tsv = https://docs.google.com/spreadsheets/...&single=true&output=tsv
header = [Soccer]

[pay]
cost = 57
venmo_id = xxx
paypal_id = Yyy
